body{
    background-color: rgb(0, 0, 0);
    width:fit-content;
}
p{
    color: wheat;
    font-size: 30px;
    text-align:left ;
}
aside{
    background-color:#FF8000;
    color:wheat;
    font-size: 20px;
    width: auto;
    height: fit-content;
    text-align:center

}
h2{
    color: wheat;
    text-align: center;
}
.nav{
    width: 200px;
    height: 25px;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;

}
.mainNav{
    display: flex;
    justify-content: center;
    flex-direction: row;
    text-align:center
}
.photo{
    text-align: center;
    
}
.text,address{
    font-size: 30px;
}
.container{
    position: fixed;
    width: 100%;
    height: 150px;
    background-color: #FF8000;
    text-align:center;
    top: 0px;
    left: 0px;
    right: 0px;
}
::first-letter{
    color: #b1085c;
    font-size: larger;
}